@import '../../styles/variables';

input {
  background-color: $dark-bagcground;
  color: $info-txt;
  border-radius: 20px;
  border: 1px solid $info-txt;
  padding-block: 1rem;
  padding-inline: 1rem;
  font-family: $font-family-merriweather;
  font-weight: $font-weight-bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $dark-bagcground inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $info-txt !important;
}
