@import '../../styles/variables';

.hamburger-menu {
  width: 30px;
  height: 30px;
  z-index: 40;
  margin-left: 1rem;

  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.4s;

    &-line {
      width: 100%;
      height: 2px;
      background-color: $color-ffffff;
      transform-origin: right;
      transition: all 0.4s 0.4s;
    }
  }
  @media screen and (min-width: 900px) {
    display: none;
  }
}

#check:checked ~ .hamburger-menu .menu {
  transform: rotateZ(-90deg);
}

#check:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

#check:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

#check:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}
