@import './styles/variables';

.container {
  width: 100%;
  @media screen and (min-width: 900px) {
    max-width: 1144px;
    margin-inline: auto;
  }
}

.overlay-60 {
  position: relative;
  isolation: isolate;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}
